{% extends "base.html" %}
{% from "_helpers.html" import render_field %}

{% block title%}
    Register{{super()}}
{% endblock %}

{% block container %}
<h1>パスワード再登録画面</h1>

<!-- flashを実行する -->
{% for message in get_flashed_messages() %}
<p>※{{message}}</p>
{% endfor %}

{% if user %}
<form method='POST'>
    {{render_field(form.userid)}}
    {{render_field(form.password)}}
    {{render_field(form.conf_password)}}
    {{form.submit()}}
</form>
{% else %}
<form method='POST'>
    {{render_field(form.userid)}}
    {{form.submit()}}
</form>
{% endif %}


{% endblock %}